.container1{
	background-color:#FFCCFF;
	padding:10px;
	margin-bottom: 5px;
	overflow: hidden;
	text-align: center;
}

.container2 {
	background-color: #DDDDDD;
}

.container2 >table{
	margin: 5px;
	block-size: auto;
}
.container3 {
	background-color: #33FFFF;
	padding: 15px;
}
a:hover {
	color: red;
}